<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>formulario</title>

	<link rel="stylesheet" type="text/css" href="css/estiloform_recup.css">

</head>
<body>

  <form action="">

    <div class="formulario">
      <h1>ㅤㅤRECUPERAR CONTRASEÑAㅤㅤ</h1>




      <div class="label">
        <label form="mail">CORREO</label>
      </div>
      <div>
        <input type="email" placeholder="Ingrese su correo" required class="inputc">
      </div>






      <div class="boton">
        <input type="submit" value="ENVIAR" class="botonc">
      </div>

      <div class="boton">
        <input type="submit" value="CANCELAR" class="botonc">
      </div>

      <div class="link">
        <div><a href="#">¿Iniciar sesion?</a></div>



      </div>


    </div>
  </form>







</body>
